@import "../variables";

@mixin make-button($bg, $shadow, $bc: $white, $color: $white, $sb: 0.5em) {
  background-color: $bg;
  border: 4px solid #{$bc};
  box-shadow: 0 0 #{$sb} #{$shadow};
  color: $color;
}
@mixin make-button-type($br) {
  font-family: $font-family-patrick-hand;
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: $br;
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  -ms-border-radius: $br;
  -o-border-radius: $br;
}

@mixin make-button-rotate($angle, $times: 1) {
  transform: rotate($angle * $times);
  -webkit-transform: rotate($angle * $times#{deg});
  -moz-transform: rotate($angle * $times#{deg});
  -ms-transform: rotate($angle * $times#{deg});
  -o-transform: rotate($angle * $times#{deg});
}
