@import "./grid";

$size: 15rem;
$radius: 10em;
$thickness: 5;

@mixin make-round-item($rad: $radius, $w: $size, $h: $size, $bw: $thickness) {
  width: $w;
  height: $h;
  background-color: $white;
  border: #{$bw}px solid $yellow-light;
  border-radius: $rad;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -ms-border-radius: $rad;
  -o-border-radius: $rad;
  @include make-container-flex();
  @include make-container-flex-center();
}
