@import "./grid";

$size: 15rem;
$radius: 10em;
$thickness: 0.5rem;

@mixin make-round-item(
  $color,
  $rad: $radius,
  $w: $size,
  $h: $size,
  $bw: $thickness,
  $bg: $white
) {
  width: $w;
  height: $h;
  background: $bg;
  border: $bw solid $color;
  border-radius: $rad;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -ms-border-radius: $rad;
  -o-border-radius: $rad;
  @include make-container-flex();
  @include make-container-flex-center();
}
