@mixin make-container($indent: $grid-indent-width) {
  width: 100%;
  max-width: $grid-content-width;
  padding-right: $indent;
  padding-left: $indent;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@mixin make-container-flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin make-container-flex-center() {
  align-items: center;
  justify-content: center;
}

@mixin make-container-full-height {
  height: calc(100vh - #{$grid-nav-heigth});
}
