@import "../../variables";

.loginProfiles  .carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.loginProfiles .carousel .slide img {
  max-height: 200px;

  /* change this to whatever you want */
  width: auto;
}

.loginProfiles  .carousel .slide {
  background-color: rgba(0, 0, 0, 0);

  height: 100px;
}

.loginProfiles  .carousel .thumb {
  width: 15%;
  border: none;
}

.loginProfiles .carousel .thumb.selected {
  width: 20%;
  border-radius: 50%;
  border: 3px solid white;
}

.loginProfiles .carousel .thumbs-wrapper {
  margin-left: 0;
}

.loginProfiles .control-dots {
  padding: 0;
  opacity: 0;
}

.loginProfiles .thumbs.animated {
  padding: 0 20px;
}

.loginProfiles .thumbs-wrapper.axis-vertical {
  margin: 0;
  width: 400px;
  padding: 0 20px;
}

.loginProfiles .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginProfiles .control-arrow > button {
  height: 100px !important;
  font-size: 3em;
}

.loginProfiles li.selected {
  width: 200px;
}

.loginProfiles .slider-wrapper.axis-horizontal {
  width: 400px;
}

.loginProfiles .carousel .slide .legend {
  top: 120%;
  height: 50px;
  background: $blue-light;
  opacity: 1;
}

.loginProfiles p.legend {
  color: white;
  font-family: $font-family-base;
  font-size: 40px !important;
  margin: 20px 0 20px -100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginProfiles .carousel .slide .legend {
  width: 200px;
}

.loginProfiles .slide > div {
  text-align: center;
  display: flex;
  justify-content: center;
}

.loginProfiles .carousel > button.control-arrow.control-next {
  background-color: $blue-light;
  width: 40px;
  opacity: 1 !important;
  border-radius: 12px;
}

.loginProfiles .carousel > button.control-arrow.control-prev {
  background-color: $blue-light;
  width: 40px;
  opacity: 1 !important;
  border-radius: 12px;
}

.loginProfiles .carousel.carousel-slider .control-arrow:hover {
  background: $blue-light;
}
.loginProfiles .carousel.carousel-slider .control-arrow:hover {
  background: $blue-light;
}
