.chosing-btn {
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.selected-btn {
  border: 2px solid rgb(255, 187, 0);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.selectedField {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center;
}

section > button {
  background-color: transparent;
  border: none;
}
