.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  color: white;
  width: 400px;
}

.form > div {
  width: 500px;
}

.header {
  width: 100vw;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mainWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapperDiv {
  width: 85vw;
  height: 85vh;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid white;
}

.buttonWrapper {
  position: absolute;
  width: 80vw;
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#backButton {
  visibility: hidden !important;
}

.signupPage {
  padding-top: calc(50% - 50px);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.react-date-picker__wrapper {
  padding: 10px 15px 10px 15px;
  height: 58px;
  border-radius: 30px;
  outline: none;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 3px solid white;
}

.react-date-picker__wrapper svg {
  stroke: white;
}

.react-date-picker__inputGroup__input {
  color: white !important;
}
