.signupProfiles .carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.signupProfiles .carousel .slide img {
  max-height: 300px;

  /* change this to whatever you want */
  width: auto;
}

.signupProfiles .carousel .slide {
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
}

.signupProfiles .carousel .thumb {
  width: 30%;
  border: none;
}

.signupProfiles .carousel .thumb.selected {
  width: 35%;
  border-radius: 50%;
  border: 3px solid white;
}

.signupProfiles .carousel .thumbs-wrapper {
  margin-left: 0;
}

.signupProfiles .control-dots {
  padding: 0;
  opacity: 0;
}

.signupProfiles .thumbs.animated {
  padding: 0 20px;
}

.signupProfiles .thumbs-wrapper.axis-vertical {
  margin: 0;
  width: 400px;
  padding: 0 20px;
}
.signupProfiles .slider-wrapper.axis-horizontal {
  height: 300px !important;
}

.signupProfiles .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupProfiles .control-arrow > button {
  height: 100px !important;
  font-size: 3em;
}
