@import "variables";
@import "root";
@import "grid";
@import "../stylesheet/components/Button.scss";

body {
  margin: 0;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(85deg, #49bac2 0%, rgba(114, 202, 208, 0.8) 27.79%, rgba(255, 255, 255, 0) 100%), #1899cf;
}

a,
button {
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}