@import "../variables";
@import "../mixins/button";

.btn {
  &.back,
  &.forward {
    @include make-button($white, $teal-dark, $teal-dark, $teal-dark);
  }

  &.play {
    text-align: center;

    @include make-button($red-dark, $red-dark);
  }

  &.overview {
    @include make-button($green-light, $green-light);
  }

  &.number {
    @include make-button($yellow-dark, $yellow-dark);
  }

  &.select {
    @include make-button($green-dark, $green-dark);
  }

  &.checked {
    @include make-button($teal-dark, $teal-dark);
  }

  &.close {
    @include make-button($red-light, $red-light);
  }

  &-start {
    @include make-button($yellow-dark, $yellow-dark);
  }

  &-rnd {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0.5em;

    @include make-button-type(50%);
  }

  &-pill {
    width: 200px;
    padding: 10px 20px;

    @include make-button-type(50px);
  }

  &-ratio {
    position: absolute;
    z-index: $z-modal + 1;

    &.top {
      top: $grid-indent-width;
    }

    &.left {
      left: $grid-indent-width;
    }

    &.right {
      right: $grid-indent-width;
    }
  }
}

.transparent {
  opacity: 0;
}
