@import "../variables";
@import "../mixins/button";

.btn {
  &.back,
  &.forward {
    @include make-button($white, $teal-dark, $teal-dark, $teal-dark);
  }

  &.play {
    text-align: center;

    @include make-button($red-dark, $red-dark);
  }

  &.overview {
    border: 4px solid white;
    color: white;
    background-color: $green-light;
    box-shadow: 0 0 1em $green-light;
  }
  &.number {
    border: 4px solid white;
    color: white;
    background-color: $yellow-dark;
    box-shadow: 0 0 1em $yellow-dark;
  }
  &.select {
    border: 4px solid white;
    color: white;
    background-color: $green-dark;
    box-shadow: 0 0 1em $green-dark;
  }
  &.checked {
    border: 4px solid white;
    color: white;
    background-color: $teal-dark;
    box-shadow: 0 0 1em $teal-dark;
  }
  &.close {
    border: 4px solid white;
    color: white;
    background-color: $red-light;
    box-shadow: 0 0 1em $red-light;
  }

  &-start {
    @include make-button($yellow-dark, $yellow-dark);
  }

  &-rnd {
    font-family: $font-family-patrick-hand;
    border: none;
    margin: 0.5em;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 2em;
    text-align: center;
    line-height: 70px;
    display: inline-block;
  }

  &-pill {
    display: inline-block;
    font-family: $font-family-patrick-hand;
    width: 200px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-size: 2em;
  }

  &-ratio {
    position: absolute;
    z-index: 1;

    &.top {
      top: $grid-indent-width;
    }

    &.left {
      left: $grid-indent-width;
    }

    &.right {
      right: $grid-indent-width;
    }
  }
}

.transparent {
  opacity: 0
}
