@import "../variables";
@import "../mixins/card";

.game {
  justify-content: center;
  align-items: center;

  @include make-container-full-height();

  &-type {
    @include make-round-item();
  }

  &-item {
    @include make-round-item($radius / 10, $size * 2);
  }

  &-wrapper {
    max-width: 745px;
    padding: 0 2rem;

    @include make-round-item(30px, 100%, auto, 0);
  }
}
