@import "../variables";
@import "../mixins/card";
@import "../mixins/grid";
@import "../mixins/position";

$bg-rails: "../../images/layout/layout/railroad-white.png";

.modal {
  display: flex;
  opacity: 0;
  transition: opacity linear 0.15s;
  z-index: $z-modal;
  @include make-container-positioned(absolute);
  @include make-container-flex-center();

  &.fade-in {
    opacity: 1;
    transition: opacity linear 0.3s;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
  }
  &.fade-out {
    opacity: 0;
    transition: opacity linear 0.3s;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
  }

  &-inner {
    flex-direction: column;
    @include make-round-item($red-light, $radius / 10, $size * 2);

    &-finished {
      position: relative;
      flex-direction: column;
      color: $white;
      box-shadow: 0 0 1.5rem $blue-light;
      padding: $grid-indent-width * 2 $grid-indent-width * 3;
      @include make-round-item(
        $white,
        $radius / 10,
        $size + 5rem,
        auto,
        0.75rem,
        linear-gradient(45deg, $blue-dark -20%, $teal-dark, $blue-dark 115%)
      );

      &:before {
        content: "";
        position: absolute;
        bottom: -1rem;
        left: -5rem;
        width: 128%;
        height: 100%;
        background-image: url($bg-rails);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
        z-index: 0;
        opacity: 0.1;
        transform: rotate(14deg);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      p,
      div {
        width: 100%;
        text-align: center;
        margin: $grid-indent-width 0;
      }

      .title {
        &-finished {
          font-size: 3rem;
          margin-top: $grid-indent-width * 3;
          margin-bottom: 0;
        }
      }

      .desc {
        &-finished {
          font-size: 2rem;
        }
      }

      .image {
        &-finished {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 13rem;
        }
      }

      button,
      .btn {
        z-index: 1;
      }
    }

    &-instructions {
      position: relative;
      flex-direction: column;
      @include make-round-item(
        $yellow-light,
        $radius / 10,
        $size * 1.75,
        $size * 1.75
      );

      .btn {
        &.play {
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translate(50%, 50%);
          -webkit-transform: translate(50%, 50%);
          -moz-transform: translate(50%, 50%);
          -ms-transform: translate(50%, 50%);
          -o-transform: translate(50%, 50%);
        }

        &.close {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          -webkit-transform: translate(50%, -50%);
          -moz-transform: translate(50%, -50%);
          -ms-transform: translate(50%, -50%);
          -o-transform: translate(50%, -50%);
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
