@import "../variables";

$nav-heigth: 5rem;

.nav {
  height: $nav-heigth;
  background-color: $white;

  &-container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: 15rem;
  }

  &bar {
display: flex;
    &-link {
      padding-left: 1rem;
    }
  }
}
