@import "../variables";

#train {
  position: relative;
  width: auto;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 1em;
}

#lego {
  position: relative;
  width: auto;
  margin: 0 auto;
  height: 660px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 1em;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.flex-slider {
  display: flex;
  justify-content: space-between;
}
