@import "../variables";

$bg: "../../images/home/lego-welcome.png";

.welcome {
  height: calc(100vh - #{$grid-nav-heigth});
  background: url($bg) 0 100% / 40rem no-repeat;
  justify-content: flex-end;
  align-items: center;

  &-box {
    width: 100%;
    max-width: 300px;
  }
}
