@import "../variables";
@import "../mixins/grid";

$bg: "../../images/home/lego-welcome.png";

.welcome {
  background: url($bg) 0 100% / 40rem no-repeat;
  justify-content: flex-end;
  align-items: center;

  @include make-container-full-height();

  &-box {
    width: 100%;
    max-width: 600px;
  }
}
